/node_modules/
/public/bower_components/
/public/relatorios/
/resources/
/backups/
/relatorios/
/nbproject/private/
/scripts/relatorio-divergencias-*.json
.env
*.pdf
*.log
log.txt
*.swp
npm-debug.log*
